body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 16px;
  color: #000;
  background: #fff;
  line-height: 1.3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}