@import url(normalize.css);
@import url(base.css);

@import url(../blocks/header.css);
@import url(../blocks/breadcrums.css);
@import url(../blocks/pricers.css);
@import url(../blocks/partners.css);
@import url(../blocks/features.css);
@import url(../blocks/news.css);
@import url(../blocks/footer.css);