.pricers__colums {
  padding-top: 45px;
  margin-left: -20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.pricers__col {
  width: 290px;
  text-align: center;
}

.pricers__bg {
  height: 153px;
  position: relative;
  background: url(../../images/pricers/price-img-1.png) 50% 50% no-repeat;
}

.pricers__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}

.pricers__img__title {
  position: absolute;
  text-transform: uppercase;
  top: 41%;
  left: 33%;
  color: #8ad0f6;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.pricer-title-4 {
  top: 22%;
  left: 5%;
}

.pricer-title-5 {
  top: 22%;
  left: 25%;
}

.pricer-title-6 {
  top: 40%;
  left: 17%;
}

.pricers__img__title span {
  display: block;
  color: #cb2376;
}

.pricers__title {
  margin: 26px 0 12px;
  font-weight: 700;
  padding: 0 45px;
}

.pircers__text {
  font-size: 15px;
  margin: 0;
  padding: 0 20px 65px;
}